*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color:#ececec ;
}
.form{
    width: 360px;
    height: 400px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 30px;
    border: 1px solid transparent;
    box-shadow:1px 1px 8px 4px #d5d5d5;
    border-radius: 4px;
}
h1{
    font-size: 40px;
    color: #ff6600;
    margin-bottom: 20px;
}
.user{
    width: 80%;
    height: 50px;
    padding: 12px;
    margin-left: 25px;
    margin-bottom: 20px; 
}
::placeholder{
    font-size: 15px;
    font-weight: bold;

}
button{
    width: 80%;
    height: 50px;
    margin-left: 25px;
    margin: 25px;
    background-color: #ed7020;
    border: 1px solid transparent;
    border-radius: 4px;
 
}
.login{
    background-color: transparent;
    border-style: none;
    color:#ffffee ;
    font-size: 18px;
    font-weight: bold;
}
p{
    margin-left: 25px;
    margin-top: -10px;
    color: #acb1a8;
}